#root {
  margin-left: 15%;
  margin-right: 15%;
}

.carCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.carCard {
  width: 100%;
  margin-bottom: 20px;
  border: solid gray;
  border-radius: 6px;
  padding: 5px;
  text-align: center;
  background-color: whitesmoke;
}

.carCardImage {
  width: 100%;
  height: auto;
}

nav {
  height: 100px;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  margin: 0 10px;
}

input{
  margin: 5px;
}